version: '3'

services:
  db:
    image: "postgres:latest"
    volumes:
      - ./postgres-data/data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: pw
    ports:
      - "5432:5432"
